@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600;700&family=Jost:wght@300;400&display=swap');

body {font-family: 'Jost', sans-serif;}
h1,h2,h3,h4,h5,label {font-family: 'Comfortaa', cursive;}
label {
    font-size: 14px;
    color: #252525;
}

h1 {
    font-weight: bold;
    font-size: 49px;
    margin-bottom: 15px;}

    p {
        font-family: 'Comfortaa', cursive;
    }

 .header-banner {
    background-image: url('https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png');
    min-height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
    background-position: right 0px;
}

.search-filter input {
    border-radius: 1px;
    min-height: 46px;
    font-size: 13px;
    font-family: 'Comfortaa', cursive;
    color: #231b1b;
}

.logo img {
    width: 130px;
}


.filter-group h3 {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.filter-group .form-control{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    min-height: 44px;
    border: solid 1px #dedede;
}

.filter-group .form-control:focus{
    outline: none;
    box-shadow: 0 0 0;
}

.restaurent-title {
    position: absolute;
    bottom: 10px;
    z-index: 9;
    color: #fff;
    font-size: 17px;
    left: 15px;
}

.img-wrapper {
    border-top-left-radius: 4px;
    overflow: hidden;
    border-top-right-radius: 4px;
}

.location {
    font-size: 15px !important;
    margin-bottom: 4px !important;
    color: #000 !important;
}

.restaurent-info p {
    font-size: 13px;
    letter-spacing: 0.5px;
    color: #2d2f35;
}

.restaurent-info {
    border: solid 1px #efefef;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
}

.img-wrapper::after {
    position: absolute;
    content: '';
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(to bottom,  #08080805 1%,#0c0c0cd6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(to bottom,  #08080805 1%,#0c0c0cd6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #08080805 1%,#0c0c0cd6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.raiting {
    position: absolute;
    bottom: 40px;
    right: 16px;
    color: #FFC107;
    z-index: 9;
}

.raiting li {
    margin-right: 5px;
}

footer {
    background: #292929;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

.price {
    font-family: 'Jost', sans-serif;
    font-size: 15px !important;
    color: #020202 !important;
    font-weight: 600;
}

.badge {
    position: absolute;
    top: 10px;
    z-index: 9;
    right: 10px;
    font-family: 'Comfortaa', cursive;
    border-radius: 2px;
}

.badge-success {
    background-color: #FF5722;
}


select {
    background: url(https://cdn.iconscout.com/icon/free/png-256/down-arrow-16-460295.png) no-repeat;
    background-size: 24px;
    background-position: right 7px;
    color: #313131;
    cursor: pointer;
}

.heart {
    width: 18px;
    position: relative;
    top: -2px;
}

.save-restro {
    font-family: 'Comfortaa', cursive;
    display: inline-block;
    font-size: 13px;
   cursor: pointer;
}

.add-fav {
    position: absolute;
    right: 20px;
    top: 12px;
    width: 30px;
    text-align: center;
    cursor: pointer;
}

.add-fav {
    color: #F44336;
}

.fa {
    display: block;
}